@using static VMS.Infrastructure.Utility.EnumCollection;
@{
    ViewData["Title"] = "Fuel List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model FuelModel

<div class="">
    <div class="bg-white rounded-lg shadow-sm p-5 text-dark border h-100 p-4">
        <h6 class="mb-4">Add New Fuel</h6>
        <div class="merchant-form">
            <form class="row g-3" asp-controller="Fuel" asp-action="Add" enctype="multipart/form-data">
                <div class="col-md-6">
                    <label for="inputDonationAmount" class="form-label">Initial Fuel (Liter)</label>
                    <input asp-for="InitialFuel" type="number" class="form-control" id="inputDonationAmount">
                </div>
                <div class="col-md-6">
                    <label for="inputDonationAmount" class="form-label">Loaded Fuel (Liter)</label>
                    <input asp-for="loadedFuel" type="number" class="form-control" id="inputDonationAmount">
                </div>
                <div class="col-md-6">
                    <label for="inputDonationAmount" class="form-label">Fuel Cost</label>
                    <input asp-for="FuelCost" type="number" class="form-control" id="inputDonationAmount">
                </div>
                <div class="col-md-6">
                    <label for="inputDonationAmount" class="form-label">Fuel Station</label>
                    <input asp-for="FuelStation" type="text" class="form-control" id="inputDonationAmount">
                </div>
                <div class="col-md-6">
                    <label for="inputDonationAmount" class="form-label">Location</label>
                    <input asp-for="StationLocation" type="text" class="form-control" id="inputDonationAmount">
                </div>
                <div class="col-md-6">
                    <label for="inputDonationAmount" class="form-label">Date</label>
                    <input asp-for="Date" type="date" class="form-control" id="inputDonationAmount">
                </div>
                <div class="col-md-6">
                    <label for="inputDonationAmount" class="form-label">Comments</label>
                    <textarea asp-for="Comments" class="form-control" placeholder="Comments if any..." style="height: 20px"></textarea>
                </div>
                <div class="col-md-6">
                    <label for="inputDonationAmount" class="form-label">Voucher</label>
                    <input asp-for="Voucher" type="file" class="form-control" id="inputDonationAmount">
                </div>
                <div class="col-md-12 text-end">
                    <button class="btn btn-info d-inline-block" type="submit">Add Fuel</button>
                </div>
            </form>
        </div>
    </div>

    <div class="mt-3">
        <div class="bg-white rounded-lg shadow-sm p-5 text-dark border h-100 p-4">
            <h6 class="mb-4">Fuel List</h6>
            <table id="myTable" class="table table-bordered table-striped text-center mt-2">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Initial Fuel</th>
                        <th scope="col">Loaded Fuel</th>
                        <th scope="col">Fuel Cost</th>
                        <th scope="col">Date</th>
                        <th scope="col">Location</th>
                        <th scope="col">Comments</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var fuel in Model.Fuels)
                    {
                        <tr>
                            <td scope="row">@fuel.Id</td>
                            <td>@fuel.InitialFuel</td>
                            <td>@fuel.loadedFuel</td>
                            <td>@fuel.FuelCost</td>
                            <td>@fuel.Date</td>
                            <td>@fuel.StationLocation</td>
                            <td>@fuel.Comments</td>
                            <td>
                                <a class="btn btn-info" asp-controller="Fuel" asp-action="Edit" asp-route-id="@fuel.Id">View</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Footer Start -->
<div class="pt-4">
    <div class="bg-light rounded-top p-4">
        <div class="row">
            <div class="col-md-12 mt-3">
                <p class="text-center footer-text">2023 &copy; VMS - All Right Reserved.</p>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->